@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
  --primary-color: #ff6958;
  --secondary-color: #313A4C;
  --regular-color: #000000;
  font-family: 'Fira Sans', sans-serif;
  font-family: var(--type-first);
  font-size: 1rem;
  margin: 0;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--regular-color);
}
img {
  display: block;
  max-width: 100%;
}
button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: var(--regular-color);
}

.app{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  padding: 2rem;
}